<section class="content">
    <div class="container-fluid">
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>COMERCIALES</strong></h2>
                    </div>
                    <div class="body menu_clave_fiscal">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="menu-box text-center bg-red" routerLink="/clave-fiscal/consulta-cuenta-unica">
                                    <div class="menu-box-container">
                                        <i class="material-icons">account_balance</i>
                                        <div class="text">Consulta de Cuenta Única y Boleta de Pago</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="menu-box text-center bg-cyan" routerLink="/clave-fiscal/datos-contribuyente">
                                    <div class="menu-box-container">
                                        <i class="material-icons">account_balance</i>
                                        <div class="text">Datos del Contribuyente</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="menu-box text-center bg-orange" routerLink="/clave-fiscal/declaraciones-juradas/presentacion">
                                    <div class="menu-box-container">
                                        <i class="material-icons">account_balance</i>
                                        <div class="text">Presentación y Consulta de DDJJ</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="menu-box text-center bg-amber" routerLink="/clave-fiscal/declaraciones-juradas/consulta">
                                    <div class="menu-box-container">
                                        <i class="material-icons">account_balance</i>
                                        <div class="text">Consulta de Declaraciones Juradas</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <!--<div class="menu-box text-center bg-blue-grey" routerLink="/clave-fiscal/publicidad-propaganda">
                                    <div class="menu-box-container">
                                        <i class="material-icons">account_balance</i>
                                        <div class="text">Carga de DDJJ Publicidad y Propaganda</div>
                                    </div>
                                </div>-->
                              <div class="menu-box text-center bg-deep-orange" routerLink="/clave-fiscal/estructuras-antenas">
                                <div class="menu-box-container">
                                  <i class="material-icons">account_balance</i>
                                  <div class="text">Tasas aplicables al emplazamiento de Estructuras de Soportes de Antenas (Art. 118 OT. 15.210)</div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="menu-box text-center bg-brown" routerLink="/clave-fiscal/boton-pago">
                                    <div class="menu-box-container">
                                        <i class="material-icons">account_balance</i>
                                        <div class="text">Botón de Pago</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="menu-box text-center bg-green" routerLink="/clave-fiscal/cuenta-corriente-unificada">
                                    <div class="menu-box-container">
                                        <i class="material-icons">account_balance</i>
                                        <div class="text">Cuenta Corriente Unificada</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="menu-box text-center bg-pink" routerLink="/clave-fiscal/f982">
                                    <div class="menu-box-container">
                                        <i class="material-icons">account_balance</i>
                                        <div class="text">Emisión F982</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">

                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <!--<div class="menu-box text-center bg-deep-purple" routerLink="/clave-fiscal/libre-deudas">
                                    <div class="menu-box-container">
                                        <i class="material-icons">account_balance</i>
                                        <div class="text">Libre de Deudas</div>
                                    </div>
                                </div>-->
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <!--<div class="menu-box text-center bg-orange" routerLink="/clave-fiscal/retenciones-percepciones">
                                    <div class="menu-box-container">
                                        <i class="material-icons">account_balance</i>
                                        <div class="text">Deducciones Admitidas</div>
                                    </div>
                                </div>-->
                            </div>
                            <div class="col-lg-3 col-sm-6"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
