<section class="content">
    <div class="container-fluid">
        <!-- Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>MEDIOS DE PAGOS ELECTRONICOS</strong></h2>
                    </div>
                    <div class="body menu_clave_fiscal">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="menu-box text-center bg-cyan" routerLink="/clave-fiscal/boton-pago/central-pagos">
                                    <div class="menu-box-container">
                                        <i class="material-icons">payment</i>
                                        <div class="text">Pagos desde Cuenta Corriente Unificada</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="menu-box text-center bg-orange" routerLink="/clave-fiscal/boton-pago/central-pagos/consulta-pagos-electronicos">
                                    <div class="menu-box-container">
                                        <i class="material-icons">find_in_page</i>
                                        <div class="text">Consulta de Transacciones</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>