<section class="content">
  <div class="container-fluid">
    <!-- Vertical Layout -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2><strong>BOTÓN DE PAGO</strong></h2>
          </div>
          <div class="body menu_clave_fiscal">
            <div class="row">
              <div class="col-lg-3 col-sm-6">
                <div class="menu-box text-center bg-red" routerLink="/clave-fiscal/boton-pago/opem/generacion-opem">
                  <div class="menu-box-container">
                    <i class="material-icons">account_balance</i>
                    <div class="text">Generación de O.P.E.M.</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">

              </div>
              <div class="col-lg-3 col-sm-6">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
