<section class="content">
  <div class="container-fluid">
    <!-- Vertical Layout -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2><strong>PUBLICIDAD</strong> Y <strong>PROPAGANDA</strong></h2>
          </div>
          <div class="body menu_clave_fiscal">
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <div class="menu-box text-center bg-red" routerLink="/clave-fiscal/publicidad-propaganda/padrones">
                  <div class="menu-box-container">
                    <i class="material-icons">picture_in_picture</i>
                    <div class="text">Presentar DDJJ</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="menu-box text-center bg-cyan" routerLink="/clave-fiscal/publicidad-propaganda/consulta-ddjj">
                  <div class="menu-box-container">
                    <i class="material-icons">library_books</i>
                    <div class="text">Consultar DDJJ</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
