<div class="footer-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <h3>Acerca de ARMSA</h3>
        <p>Agencia de Recaudación de la Municipalidad de Salta</p>
      </div>
      <div class="col-md-1 col-sm-3">
      </div>
      <div class="col-md-2 col-sm-6">
        <h3>Enlaces rápidos</h3>
        <ul class="footer-links">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Sobre ARMSA</a></li>
          <!--<li><a href="http://municipalidadsalta.gob.ar/guia-de-tramites/" target="_blank">Guía Trámites</a></li>
          <li><a href="#">Gestión On Line</a></li>-->
        </ul>
      </div>
      <div class="col-md-1 col-sm-3">
      </div>
      <!--<div class="col-md-3 col-sm-6">
         <h3>Trámites on line</h3>
         <ul class="footer-category">
           <li><a href="http://municipalidadsalta.gob.ar/guia-de-tramites/comercios/" target="_blank">Act. Comerciales</a></li>
           <li><a href="http://municipalidadsalta.gob.ar/guia-de-tramites/automotor/" target="_blank">Automotor</a></li>
           <li><a href="http://municipalidadsalta.gob.ar/guia-de-tramites/inmobiliarios/" target="_blank">Inmobiliario</a></li>
         </ul>
         <div class="clearfix"></div>
       </div> -->
       <div class="col-md-3 col-sm-6">
         <h3>Contacto</h3>
         <div class="address">CENTRO CÍVICO MUNICIPAL: Av. Paraguay 1240</div>
         <div class="info"><a href="#">Tel: +54 387 4160900</a></div>

           <ul class="social">
             <li class="li-facebook"> <a href="https://www.facebook.com/gobiernociudadsalta" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
             <li class="li-twitter"> <a href="https://twitter.com/MuniSalta" target="_blank"><i class="fab fa-twitter"></i> </a> </li>
             <li class="li-youtube"> <a href="https://www.youtube.com/channel/UC4PYPKHHbp9YIQDaiLMX-BA" target="_blank"><i class="fab fa-youtube"></i></a></li>
             <li class="li-instagram"> <a href="https://www.instagram.com/saltatuciudad/" target="_blank"><i class="fab fa-instagram"></i></a></li>
           </ul>

       </div>
     </div>
     <div class="copyright">Copyright © 2020 ARMSA - Todos los Derechos Reservados.</div>
   </div>
 </div>
